[submodule "Hubie/Deps/glfw"]
	path = Hubie/Deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Hubie/Deps/imgui"]
	path = Hubie/Deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Hubie/Deps/spdlog"]
	path = Hubie/Deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hubie/Deps/glm"]
	path = Hubie/Deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hubie/Deps/stb"]
	path = Hubie/Deps/stb
	url = https://github.com/nothings/stb.git
